page {
	background: #f8f8f8;
}

uni-button[type=primary] {
	color: #fff;
	background-color: #00a0e9;
}

.bhxdrrt {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}

.dxform .uni-list-item {
	background: #fff !important;
}

.jjhhxeer {
	width: 160upx;
}

.dxlisteetr {
	background: #fff;
	line-height: 80upx;
	position: relative;
}

.dxlisteetr:after {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #e5e5e5;
}

.rightydeer {
	width: 34upx;
	position: absolute;
	right: 20upx;
	top: 30upx;
}

.tajhxetxe {
	height: 80upx;
	background: #fff;
	line-height: 80upx;
	border-bottom: 1px solid #e0e0e0;
	white-space: nowrap;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	/* #ifdef H5 */
	top: 88upx;
	/* #endif */
}

.shhxeertx {
	display: inline-block;
	padding-left: 20upx;
	padding-right: 20upx;
	position: relative;
}

.shhxeertx.act {
	color: #00a0e9;
}

.shhxeertx.act:after {
	content: ' ';
	position: absolute;
	left: 0;
	bottom: 0upx;
	width: 100%;
	height: 4upx;
	z-index: 100;
	background: #00a0e9;
}

.dfdfg_eer {
	width: 50%;
	float: left;
	line-height: 60upx;
}

.jhssdcase {
	border-radius: 8upx;
	border: 1px solid #e0e0e0;
	overflow: hidden;
}


.ytyticrert {
	background: #00a0e9;

}

.pt25 {
	padding-top: 25upx;
}
.sdeeer{
	position: absolute;
	right: -20upx;
	top: -60upx;
	z-index: 100;
}
.sdeeer .uni-icon-cancel{
	background: #fff;
	border-radius: 50%;
}
.jhhxedertxc{
		width: 120upx;
		height: 120upx;
		margin-right: 12upx;
		
		display: inline-block;
		border: 1px dashed #e0e0e0;
		margin-top: 25upx;
		text-align: center;
		line-height: 120upx;
	}
	.addickdeert{
		width: 60upx;
		margin-top: -20upx;
	}
	.dsfrrt{
		width: 100%;
		height: 100%;
		
	}